* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

body {
    background-color: #f4f6f9;
    color: #333;
    font-size: 16px;
    line-height: 1.6;
}

/* Main Container */
.container {
    width: 80%;
    margin: 30px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
   
   
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2d3e50;
    color: white;
    padding: 20px;
    border-radius: 8px 8px 0 0;
    margin-bottom: 20px;
}

nav button{
    color: white;
    background: #3498db;
    font-size: 1.1em;
    border-radius: 5px;
    padding: 5px;
}

h1 {
    text-align: center;
    font-size: 1.8em;
    font-weight: 600;
    margin-bottom: 20px;
}


.tipos_cocina {
    display: flex;
    flex-direction: column; /* Apila los elementos verticalmente */
    gap: 10px; /* Espacio entre botones */
}

.tipos_cocina button {
    width: 100%; /* Ocupa todo el ancho disponible */
    height: 100px;
    border-radius: 5px;
    padding: 10px; /* Espaciado interno para mejorar la apariencia */
    font-size: 16px; /* Tamaño del texto */
    border: none;
    cursor: pointer;
    background-repeat: no-repeat;
    
    background-size: cover;
    transition: background-color 0.3s; /* Animación de cambio de color */

}

/* Different background colors for each button using the dynamic class */
.color-1 {
    background-color: #3498db; /* Blue */
    background-image: url('/static/img/tipo_comida/mediterranea.jpeg');
  
}

.color-2 {
    background-color: #e74c3c; /* Red */
}

.color-3 {
    background-color: #2ecc71; /* Green */
}

.color-4 {
    background-color: #f39c12; /* Yellow */
}

.color-5 {
    background-color: #9b59b6; /* Purple */
}

.color-6 {
    background-color: #16a085; /* Teal */
}

.color-7 {
    background-color: #f1c40f; /* Yellow */
}

.color-8 {
    background-color: #e67e22; /* Orange */
}

.color-9 {
    background-color: #d35400; /* Dark Orange */
}

.color-10 {
    background-color: #8e44ad; /* Purple */
}

.color-11 {
    background-color: #34495e; /* Dark Gray */
}

.color-12 {
    background-color: #1abc9c; /* Light Teal */
}

.color-13 {
    background-color: #2980b9; /* Light Blue */
}

.color-14 {
    background-color: #27ae60; /* Dark Green */
}

.color-15 {
    background-color: #c0392b; /* Dark Red */
}

.color-16 {
    background-color: #7f8c8d; /* Gray */
}

/* Responsive Design */
@media (max-width: 768px) {
    button {
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 480px) {
    button {
        width: 120px;
        height: 120px;
    }
}
