/* Archivo: static/css/clientes/restaurantes.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
   
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2d3e50;
    color: white;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    flex-wrap: wrap; /* Permite que los elementos se acomoden en pantallas pequeñas */
}

/* Botón en el navbar */
nav button {
    color: white;
    background: #3498db;
    font-size: 1em;
    border-radius: 5px;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

/* Efecto hover */
nav button:hover {
    background: #2980b9;
    transform: scale(1.05);
}

/* Estilos para las tarjetas de los restaurantes */
.card{
    
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    display: flex;   
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; 
    
}

.restaurant-card{
    
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    width: 350px;  /* Ancho fijo */
    height: 400px; /* Altura fija para todas las tarjetas */
    
    
   
   
}



button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
}

button:hover {
    background-color: #45a049;
}
.restaurantes1{
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), 
                url('/static/img/restaurantes/El_olivo_dorado.jpeg') center/cover no-repeat;
    color: white;
    padding: 20px;
    border-radius: 10px;
}
.restaurantes2{
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)), 
                url('') center/cover no-repeat;
    color: white;
    padding: 20px;
    border-radius: 10px;
}
.restaurantes3{
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)), 
                url('') center/cover no-repeat;
    color: white;
    padding: 20px;
    border-radius: 10px;
}