/* Archivo: static/css/clientes/restaurantes.css */

/* Variables CSS */
:root {
    --primary-color: #3498db;
    --primary-hover-color: #2980b9;
    --background-color: #f4f6f9;
    --text-color: #333;
    --card-background: #ddd4d49a;
    --card-border-radius: 8px;
    --button-color: #4CAF50;
    --button-hover-color: #45a049;
}

/* Estilos Globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.6;
}

/* Main Container */
.container {
    width: 95%;
    margin: 30px auto;
    padding: 20px;
    border-radius: var(--card-border-radius);
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2d3e50;
    color: white;
    padding: 20px;
    border-radius: var(--card-border-radius);
    margin-bottom: 20px;
    flex-wrap: wrap; /* Para responsividad */
}

/* Estilos para el h1 dentro del nav */
nav h1 {
    font-size: 1.5em; /* Ajusta el tamaño de la fuente según sea necesario */
    margin: 0; /* Elimina el margen predeterminado del h1 */
}

/* Estilos para el enlace dentro del nav */
nav a {
    text-decoration: none; /* Elimina el subrayado del enlace */
}

/* Estilos para el botón dentro del nav */
nav button {
    color: white;
    background: var(--primary-color);
    font-size: 1em;
    border-radius: 5px;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

nav button:hover {
    background: var(--primary-hover-color);
    transform: scale(1.05);
}

/* Estilos para las tarjetas de los restaurantes */
.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Distribuye el espacio uniformemente */
    padding: 10px;
    margin: 10px;
}

.restaurant-card {
    background-color: var(--card-background);
    border-radius: var(--card-border-radius);
    padding: 20px;
    margin: 10px;
    width: 350px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribuye el contenido verticalmente */
    overflow: hidden;
    text-overflow: ellipsis;
}

.restaurant-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 5px;
}

.restaurant-card a button {
    display: block;
    width: auto;
    height: auto;
    color: white;
    background-color: var(--button-color);
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
    
}

.restaurant-card a button:hover {
    background-color: var(--button-hover-color);
}

.restaurant-card a {
    text-decoration: none;
}


/* Estilos para el fondo de las tarjetas con imágenes */
.restaurant-card.with-image {
    position: relative;
    color: white;
    padding: 20px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.restaurant-card.with-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6); /* Overlay oscuro */
    border-radius: 10px;
    z-index: 0;
}

.restaurant-card.with-image > * {
    position: relative;
    z-index: 1; /* Asegura que el contenido esté sobre el overlay */
}

/* Responsividad */
@media (max-width: 768px) {
    .restaurant-card {
        width: 100%; /* Tarjetas ocupan todo el ancho en pantallas pequeñas */
    }
    /* Media query para pantallas pequeñas */

    nav {
        flex-direction: row; /* Cambia la dirección del flex a fila */
        justify-content: space-between; /* Distribuye el espacio entre el h1 y el a */
        align-items: center; /* Alinea los elementos verticalmente al centro */
        flex-wrap: wrap; /* Permite que los elementos se envuelvan si no hay suficiente espacio */
    }

    nav h1 {
        margin-bottom: 0; /* Elimina el margen inferior del h1 */
    }
}
