/* Archivo: static/css/clientes/restaurantes.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
   
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(45, 62, 80, 0.9);
    color: white;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

nav h1 {
    font-size: 1.5em;
    font-weight: 600;
}

nav a button {
    padding: 12px 25px;
    font-size: 1em;
    background-color: #e74c3c;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

nav a button:hover {
    background-color: #c0392b;
}

/* Estilos para las tarjetas de los restaurantes */
.card{
    
   
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    display: flex;
    
   
    justify-content: space-between;
    align-items: center; 
    
}

.restaurant-card{
    background-color: aqua;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    width: 300px;  /* Ancho fijo */
    height: 300px; /* Altura fija para todas las tarjetas */

}
    
   




   


button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
}

button:hover {
    background-color: #45a049;
}