<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Ver Reservas</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/restaurantes/editar_restaurantes.css')}}">
</head>

<body>
    <div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="flash-messages">
        {% for category, message in messages %}
        <li class="alert {{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <nav>
        <h1>Reservas</h1>
        <a href="{{ url_for('home_restaurantes') }}"><button type="submit">Volver</button></a>
    </nav>

    <!-- Verifica si no hay reservas y muestra un mensaje -->
    {% if reservas_vacias %}
    <p>No hay reservas en este momento.</p>
    {% else %}
    <table>
        <thead>
            <tr>
                <th>Cliente</th>
                <th>Fecha</th>
                <th>Nº de personas</th>
                <th>Hora</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for reserva in reservas %}
            <tr class="{% if reserva.estatus == 'cancelada' or reserva.estatus == 'rechazada' %}cancelada{% endif %}">
                <td>{{ reserva.name }}</td> 
                <td>{{ reserva.reserve_time }}</td> 
                <td>{{ reserva.number_of_people }}</td> 
                <td>{{ reserva.start_time }}</td> 
                <td>{{ reserva.estatus }}</td> 
                <td>
                    {% if reserva.estatus == 'pendiente' %}
                        <form action="{{ url_for('aceptar_reserva', reserva_id=reserva.reserve_id) }}" method="POST" style="display: inline;">
                            <button type="submit" class="aceptar">Aceptar</button>
                        </form>
                        <form action="{{ url_for('rechazar_reserva', reserva_id=reserva.reserve_id) }}" method="POST" style="display: inline;">
                            <button type="submit" class="rechazar" onclick="return confirm('¿Estás seguro de que rechazar esta reserva?')">Rechazar</button>
                        </form>
                    {% else %}
                        <span class="text-muted">No modificable</span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>

<script src="{{url_for('static', filename='js/restaurantes/reservas_restaurante.js')}}"></script>
</body>

</html>