<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurantes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/clientes/restaurantes.css') }}">
</head>

<body>
    <div class="container">
        <nav>
            
            <h1>Restaurantes</h1>
            
            <a href="{{ url_for('tipos_comida') }}"><button type="submit">Volver</button></a>
        </nav>
        <div class="card">
            <!-- Iterar sobre la lista de restaurantes -->
            {% for restaurant in restaurants %}
            <div class="restaurant-card restaurantes{{loop.index}}">
                    <h2>{{ restaurant.name }}</h2>

                    <!-- Sección de información de contacto -->

                    <div>
                        <p><strong>Dirección:</strong> {{ restaurant.address }}</p>
                        <p><strong>Teléfono:</strong> {{ restaurant.phone_number }}</p>
                        <p><strong>Web:</strong> {{ restaurant.web }}</p>
                        

                        <p class="description">{{ restaurant.description }}</p>
                        <p class="specialty">Especialidad: {{ restaurant.speciality }}</p>

                        <!-- Botón para hacer la reserva -->

                        <a href="{{ url_for('hacer_reserva', restaurant_id=restaurant['restaurant_id']) }}">
                            <button type="submit">Hacer reserva</button>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>
