<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurantes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/clientes/restaurantes.css') }}">
</head>

<body>
    <div class="container">
        <nav>
            {% if restaurants %}
            <h1>Restaurantes de comida {{ restaurants.type }}</h1>
            {% else %}
            <h1>No hay restaurantes disponibles</h1>
            {% endif %}

            <a href="{{ url_for('tipos_comida') }}"><button type="submit">Volver</button></a>
        </nav>
        <div class="card">
            <!-- Iterar sobre la lista de restaurantes -->
            {% for restaurant in restaurants %}
            <div class="restaurant-card">
                <h2>{{ restaurant.name }}</h2>
                {% if restaurant.img_url %}
                <img src="/static/img/restaurantes/{{restaurant.img_url }}" alt="Imagen de {{ restaurant.name }}"
                    style="max-width: 200px;">
                {% endif %}
                <div>
                    
                    <p class="description">{{ restaurant.description }}</p>
                    <p class="specialty"><strong>Especialidad:</strong> {{ restaurant.speciality }}</p>          
                    <p><strong>Dirección:</strong> {{ restaurant.address }}</p>
                    <p><strong>Teléfono:</strong> {{ restaurant.phone_number }}</p>
                    <p><strong>Web:</strong> {{ restaurant.web }}</p>
                        
                    
                </div>
                <a href="{{ url_for('hacer_reserva', restaurant_id=restaurant['restaurant_id']) }}">
                    <button type="submit">Hacer reserva</button>
                </a>
            </div>

            {% endfor %}
        </div>
    </div>
</body>

</html>