<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard del Cliente</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/customer_dashboard.css')}}">
    
</head>
<body>

    <div class="container">
        <h1>Bienvenido, {{ session['user_name'] }}!</h1>

        <h2>Tus Reservas</h2>

        {% if reservas %}
            <table>
                <thead>
                    <tr>
                        <th>Reserva ID</th>
                        <th>Restaurante</th>
                        <th>Franja Horaria</th>
                        <th>Número de Personas</th>
                        <th>Fecha de Reserva</th>
                    </tr>
                </thead>
                <tbody>
                    {% for reserva in reservas %}
                        <tr>
                            <td>{{ reserva['reserve_id'] }}</td>
                            <td>{{ reserva['restaurant_name'] }}</td>
                            <td>{{ reserva['time_slot'] }}</td>
                            <td>{{ reserva['number_of_people'] }}</td>
                            <td>{{ reserva['reserve_time'] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No tienes reservas.</p>
        {% endif %}

        <a href="{{ url_for('reservar') }}" class="button">Realizar una nueva reserva</a>
    </div>

</body>
</html>
