<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Meta para mejorar la respuesta en dispositivos móviles -->
    <title>Home Restaurante</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/restaurantes/home_restaurantes.css')}}">
</head>
<body>
    <div class="container">
        <nav>
            <h1>{{ restaurant.name }}</h1>
            <a href="{{ url_for('logout')}}"><button type="submit">Cerrar Sesión</button></a>
        </nav>
    
        <ul>
            <li><a href="{{ url_for('reservas_restaurante') }}">Ver Reservas</a></li>
            <li><a href="{{ url_for('editar_restaurante') }}">Editar Restaurante</a></li>
            <li>
                <form action="{{ url_for('eliminar_restaurante') }}" method="POST">
                    <button type="submit" onclick="return confirm('¿Estás seguro de que quieres eliminar tu restaurante?')">Eliminar Restaurante</button>
                </form>
            </li>
        </ul>
    </div>
</body>
</html>
